<!DOCTYPE html>
<html>
    <head>
        <title>Snails</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: 'did you know that snails make trails? Wild!'</p>
    </body>
</html>
