<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me! It's all about Drake Scorpion. Sick. Sick. Sick. It's too late for all dat...</p>
    </body>
</html>
